/* .row-height
{
    height: 90vh;
} */

.layer2-img
{
    margin-left: 1rem;
    margin-top: 1rem;
}

.layer2-img img
{
    max-height: 100%;
}

.sentence-list
{
    padding-top: 15%;
    font-size: 1.3rem;
}

.sentence-list li
{
    display: none;
}

.sentence-list a
{
    /* color: aquamarine; */
}

@media screen and (max-width: 1200px) {
    .row-height
    {
        height: 90vh;
    }

    .sentence-list
    {
        padding-top: 8%;
        font-size: 1rem;
    }    

    footer
    {
        margin-top: 1.5rem;
    }

  }
