.option-set
{
    margin: 0.5rem 0;
}

.option
{
    text-align: center;
    font-size: 1.5rem;
}

.option-hover
{
    text-align: center;
    font-size: 1.8rem;
}

.layer2-img img 
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}