/* .navbar.btn
{
    padding: 5px;
} */

.main-img .hidden
{
    display: none;
}

.main-img img 
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}