/* .navbar.btn
{
    padding: 5px;
} */

.option-set
{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.option
{
    text-align: center;
}

.masking {
    opacity: 0;
}

.main-img .hidden
{
    display: none;
}

.main-img img 
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}